.reportField {
  /* Color tabbar --------------------------------------------------------------------------*/
}

.reportField .screenshot_canvas,
.reportField .report_text {
  width: 100%;
  height: 100%;
  display: none;
}

.reportField .screenshotCanvasWrapper,
.reportField .reportTextWrapper {
  padding: 3vh;
  padding-right: 0;
  display: none;
}

.reportField .contentActive {
  -webkit-animation-name: shrinkField;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

.reportField .reportActive {
  -webkit-animation-name: slideField;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideField {
  0% {
    height: 0px;
  }
  100% {
    height: 650px;
  }
}

@-webkit-keyframes shrinkField {
  0% {
    height: 650px;
  }
  100% {
    height: 0px;
  }
}

.reportField .row {
  width: 100%;
}

.reportField .closeReport img {
  float: right;
  width: 15px;
}

.reportField .paintMenu {
  height: 38px;
  width: 510px;
  border-radius: 2px;
  border: solid black 1px;
  margin-bottom: 1vh;
  margin-top: 1.5vh;
  margin-left: 25%;
}

.reportField .undo {
  height: 31px;
  width: 31px;
  background: #EEEEEE;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding-top: 2px;
  padding-left: 2px;
  margin-top: 3.5px;
}

.reportField .palette {
  width: 23px;
  height: 23px;
  float: left;
  margin: 6px;
}

.reportField .shapes {
  width: 23px;
  height: 23px;
  margin: 0 auto;
  display: inline-block;
}

.reportField .shapetriangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #1f1f1f;
  display: inline-block;
  background: white;
}

.reportField .button {
  background-color: white;
  color: black;
  border: 1px solid black;
  outline: 0;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.reportField input.vertical {
  -webkit-appearance: slider-vertical;
  -webkit-writing-mode: bt-lr;
      -ms-writing-mode: bt-lr;
          writing-mode: bt-lr;
}

.reportField input[type=range] {
  width: 65%;
  display: inline-block;
}

.reportField input[type=button] {
  margin-bottom: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 65px;
  outline: 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.reportField input[type=range]::-webkit-slider-runnable-track {
  margin-top: -10px;
  margin-left: 15px;
  width: 308px;
  height: 3px;
  background: #000;
  border: none;
}

.reportField input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: slider-vertical;
  height: 16px;
  width: 16px;
  border: 3px solid blue;
  margin-top: -4px;
}

.reportField input[type=range]:focus {
  outline: none;
}

.reportField input[type=range]:focus::-webkit-slider-runnable-track {
  background: black;
}

.reportField .palette {
  height: 30px;
  display: inline;
  float: left;
  margin-left: 20px;
}

.reportField .palette:hover {
  cursor: pointer;
}

.reportField .colorpicker-component {
  width: 100px;
  float: left;
  margin: 0;
  margin-left: 5px;
  margin-top: 3px;
}

.reportField .shaperectangle {
  border: 2px solid black;
  background: white;
  height: 25px;
  margin-top: 2px;
  margin-left: 5px;
}

.reportField .shapecircle {
  width: 25px;
  height: 25px;
  border: 2px black solid;
  border-radius: 100%;
  display: inline-block;
  background: white;
  margin: 0;
  margin-top: 2px;
  margin-left: 0px;
}

.reportField .menuImg {
  width: 25px;
}

.reportField .shapearrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 0px;
}

.reportField .shapearrow img {
  width: 35px;
  padding-top: 1px;
  margin-top: -8px;
}

.reportField .undo img {
  -webkit-transform: rotate(-30deg) !important;
          transform: rotate(-30deg) !important;
  margin-top: 2px;
  width: 22px;
}

.reportField .text img {
  margin-top: 0px;
  width: 28px;
}

.reportField .pencil:hover {
  cursor: pointer;
}

.reportField .pencil img {
  width: 38px;
  margin-top: -5px;
  margin-left: -4px;
}

.reportField div.text {
  float: left;
  display: inline;
}

.reportField .sizeOfText {
  margin-top: 5px;
  display: inline;
  float: left;
  margin-left: 10px;
}

.reportField .menuSectionWrapper {
  margin-left: 10px !important;
  background: #EEEEEE;
  border: solid 1px lightgrey;
  border-radius: 3px;
  display: inline;
  float: left;
  height: 31px;
  margin-top: 3px;
}

.reportField .pencil {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  margin-left: 10px;
}

.reportField .drawWrapper {
  width: 150px;
}

.reportField .innerCanvasWrapper {
  width: 100%;
  height: 100%;
}

.reportField .rectangle {
  border: 1px solid #FF0000;
  position: absolute;
}

.reportField .active {
  background-color: darkgrey;
  border-radius: 2px;
}

.reportField .text {
  margin-left: 20px;
}

.reportField .menuItem {
  height: 30px !important;
  width: 30px !important;
  float: left;
  display: inline;
  margin-left: 10px;
}

.reportField .arrow_container {
  margin: 0 !important;
}

.reportField .shapesWrapper {
  width: 176px;
}

.reportField .shapeItem1 {
  padding-left: 3.5px;
  margin: 0;
}

.reportField .shapeItem2 {
  padding-left: 2.5px;
}

.reportField .menuItem:hover {
  cursor: pointer;
}

.reportField .screenShotCanvas {
  width: 100% !important;
}

.reportField .shapeline {
  background-color: black;
  margin: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 2.5px;
  margin-left: 15px;
}

.reportField .colorText2 {
  display: none !important;
}

.reportField .sizeOfText {
  width: 50px !important;
}

.reportField .undo {
  margin-top: 3.5px;
}

.reportField h4 {
  font-size: 16px !important;
}

.reportField h5 {
  font-size: 14px !important;
}

.reportField .action_text {
  text-align: left;
}

.reportField .reportForm {
  text-align: left;
}

.websoft_icon_link {
  font-size: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
}
/*# sourceMappingURL=report.css.map */